<li>
    <div class="row">
        <div>
            <div id="{{CourseCode}}" class="card" draggable="true" ondragstart="drag(event)">
                <div class="card-body">
                    <h3 class="card-title">{{Name}}</h3>
                    <p class="card-text">{{CourseCode}}</p>
                    
                </div>
            </div>
        </div>
    </div>
</li>