<div class="col-md">
    <input type="text" placeholder="Search..." id="course_search" onsubmit="">
    <ul id="course_search_results" class="connectedSortable">
        {{}}
    </ul>
</div>

<div class="col-md">
    <ul id="year_1" class="connectedSortable">
        
    </ul>
</div>

<div class="col-md">
    <ul id="year_2" class="connectedSortable">
        
    </ul>
</div>

<div class="col-md">
    <ul id="year_3" class="connectedSortable">
        
    </ul>
</div>

<div class="col-md">
    <ul id="year_4" class="connectedSortable">
        
    </ul>
</div>