<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Title</h3>
                <p class="card-text">Text</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" draggable="true" ondragstart="drag(event)">
            <div class="card-body">
                <h3 class="card-title">Title</h3>
                <p class="card-text">Text</p>
            </div>
        </div>
    </div>
</div>

<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

