<form method="POST" action="/register">
  <div class="form-group px-5 mt-3">
    <h1>Register</h1>
    <label for="username" class="form-label">Username</label>
    <input name="username" class="form-control" id="username">

    <label for="password" class="form-label">Password</label>
    <input name="password" class="form-control" id="password">

    <label for="degree" class="form-label">Degree</label>
    <input name="degree" class="form-control" id="degree">

    <label for="major" class="form-label">Major</label>
    <input name="major" class="form-control" id="major">

    <label for="minor" class="form-label">Minor</label>
    <input name="minor" class="form-control" id="minor">
  </div>
  <div class="form-group mb-3 px-5 mt-3">
    <button type="submit" class="btn btn-primary">Register</button>
  </div>
  <div class="form-group px-5">
    <p>Already have an account? <a href="/login">Login</a> </p>
  </div>
</form>